
h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(55, 61, 88, 0.3);
   }
  .tbl-content{
    height:400px;
    overflow-x:auto;
    margin-top: 0px;
    border: 2px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    border-bottom: solid 2px rgba(255,255,255,0.1);
  }
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #5d615f, #303738);
    background: linear-gradient(to right, #7b867b, #888b8b);
    font-family: 'Roboto', sans-serif;
  }

  section{
    margin: 50px;
  }

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.btn-main {
    display: inline-block;
    font-size: 1.3rem;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 25px 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #464646;
    color: #6b6b6b;
    border-radius: 3px;
    transition: .4s;
}

.btn-main:hover,
.btn-main:focus {
    background: #b9623f;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    transform: scale(.9);
}